{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block content %}

<h3> News Highlights</h3>
    <ul>
       {{macro.displayNewsList(general) }}
    </ul>
<h3> Bussiness </h3>
    <ul>
    {{ macro.displayNewsList(bussiness)}}
    </ul>
<!-- Now showing movie -->
<h3> Technology</h3>
    <ul>
    {{ macro.displayNewsList(technology)}}
    </ul>
<h3> Science</h3>
    <ul>
        {{macro.displayNewsList(science)}}
    </ul>
<h3> Health</h3>
     <ul>
         {{macro.displayNewsList(health)}}
     </ul>
<h3> Sports</h3>
    <ul>
        {{macro.displayNewsList(Sports)}}       
    </ul>

{% endblock %}